---
import Layout from '@/layouts/Layout.astro';

import GrandLogo from '@/sections/GrandLogo.astro';
import CallToAction from '@/sections/CallToAction.astro';
import SimpleBanner from '@/sections/SimpleBanner.astro';
import AboutAddon from '@/sections/AboutAddon.astro';
import Donations from '@/sections/Donations.astro';
import AboutCommunity from '@/sections/AboutCommunity.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout title="Comunidad Raid Dominion Tools - Addon World of Warcraft">
	<main>
		<GrandLogo></GrandLogo>
		<CallToAction></CallToAction>
		<SimpleBanner></SimpleBanner>
		<AboutAddon></AboutAddon>
		<Donations></Donations>
		<AboutCommunity></AboutCommunity>
	</main>
	<Footer></Footer>
</Layout>