---
import ImageComponent from "@/components/ImageComponent.astro";
---

<section
  class=" mt-8 bg-txtbg1 flex flex-col flex-wrap lg:flex-row shadow-3xl border-y-2 border-primary py-2"
>
  <div class="relative w-full text-center py-2 px-2">
    <span
      class="text-[1.5rem] uppercase text-normal border-b-2 border-primary mb-1 md:font-medium mt-2"
      >Comunidad Raid Dominion</span
    >
    <ImageComponent classes="md:max-w-[300px] drop-shadow-4xl w-full mx-auto" imageName="raid_addon.png" />
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <div id="player-info" class="w-full max-w-md hidden">
        <!-- La información del jugador se insertará aquí dinámicamente -->
      </div>
    </div>
    <div class="flex flex-row text-center w-100 mx-2">
      <input list="player-list" id="player-select" class="w-full p-2 border border-primary rounded" placeholder="Buscar o seleccionar un jugador">
      <datalist id="player-list"></datalist>
      <input class="p-2 border border-primary text-normal rounded" type="reset" value="X">
    </div>
  </div>
</section>

<script>
 const playerSelect = document.getElementById('player-select') as HTMLInputElement;
const playerList = document.getElementById('player-list') as HTMLDataListElement;
const playerInfo = document.getElementById('player-info') as HTMLDivElement;
const resetButton = document.querySelector('input[type="reset"]') as HTMLInputElement;

// Verificar que los elementos existen
if (playerSelect && playerList && playerInfo && resetButton) {
  // Cargar los datos de players.json
  fetch('players.json')
    .then(response => response.json())
    .then((players: { name: string, rank: string }[]) => {
      players.forEach((player) => {
        const option = document.createElement('option');
        option.value = player.name;
        playerList.appendChild(option);
      });

      playerSelect.addEventListener('change', (e) => {
        const target = e.target as HTMLInputElement;
        const selectedName = target.value;
        const player = players.find(p => p.name === selectedName);

        if (player) {
          playerInfo.innerHTML = `
            <div class="animate-blurred-fade-in flex flex-row justify-center items-center min-w-[200px] border-y-2 border-primary text-normal text-center py-2 shadow-3xl px-2 bg-txtbg min-h-[90px]">
              <div class="grow text-bold text-[1.5rem] mr-2">${player.name}</div>
              <div class="flex flex-col">
                <img src="/gallery/${player.rank.toLowerCase().replace(" ", "_")}.png" alt="${player.rank}" class="max-h-[40px]">
                <div>${player.rank}</div>
              </div>
            </div>
          `;
          playerInfo.classList.remove('hidden');
        } else {
          playerInfo.innerHTML = '';
          playerInfo.classList.add('hidden');
        }
      });

      resetButton.addEventListener('click', () => {
        playerSelect.value = '';
        playerSelect.focus();
        playerInfo.innerHTML = '';
        playerInfo.classList.add('hidden');
      });
    })
    .catch(error => console.error('Error al cargar los jugadores:', error));
}

</script>
