---
import ImageComponent from "@/components/ImageComponent.astro";
import AddonGallery from "@/components/AddonGallery.astro";
---

<section
  id="about_addon"
  class="overflow-hidden bg-txtbg1 flex flex-col flex-wrap shadow-3xl border-y-2 border-primary py-2 px-2 mt-8"
>
  <div class="w-full text-center py-2">
    <ImageComponent classes="max-h-[50px] mx-auto" imageName="logo.png" />
    <span
      class="text-[1.5rem] uppercase text-normal border-b-2 border-primary mb-1 md:font-medium mt-2"
      >¿Qué es Raid Dominion Tools?</span
    >
  </div>
  <div
    class="border-y-2 border-primary text-sm text-black py-2 shadow-3xl px-2 bg-normal"
  >
    <p>
      <span class="font-bold">Raid Dominion Tools</span> es un addon 
      especialmente diseñado para <span class="font-bold">World of Warcraft 3.3.5a</span>, creado por un maestro de hermandad con amplia experiencia. Este potente addon está destinado a facilitar la gestión, control y comunicación en las bandas, permitiendo a los líderes de banda una organización más efectiva de roles, buffs y habilidades.
    </p>
    <AddonGallery />
    <h3 class="uppercase py-2 font-bold">Características Clave</h3>
    <ul>
      <li class="pb-2">
        <span class="font-bold">Gestión de banda</span>: Configura rápidamente el
        modo de banda y el modo de botín. Realiza comprobaciones de preparación ("check") y acciones de inicio ("pull") según lo requiera el líder de banda.
      </li>
      <li class="pb-2">
        <span class="font-bold">Asignación de Roles</span>: Controla de manera eficiente los roles de los jugadores, incluyendo tanques, sanadores, BUFFs, y otras habilidades cruciales para el éxito de la banda.
      </li>
      <li class="pb-2">
        <span class="font-bold">Marcado de roles principales</span>: Asigna un
        ícono visual a los jugadores clave como tanques o sanadores, facilitando el reconocimiento rápido durante las batallas.
      </li>
      <li class="pb-2">
        <span class="font-bold">Comunicación rápida</span>: Envía susurros automáticos a los jugadores sobre sus roles asignados o alerta a la banda sobre las acciones necesarias en cada momento. Selecciona jugadores u objetivos específicos para emitir alertas fácilmente.
      </li>
      <li class="pb-2">
        <span class="font-bold">Integración con Discord y más</span>: Proporciona a la banda el enlace al servidor de Discord y notifica al líder cuando un jugador asignado a un rol importante abandona el grupo.
      </li>
      <li class="pb-2">
        <span class="font-bold">Compacto y fácil de usar</span>: La interfaz es intuitiva y está optimizada para ofrecer la máxima funcionalidad en el menor espacio posible, adaptándose perfectamente a las necesidades de los usuarios.
      </li>
    </ul>
  </div>
  <a
    target="_blank"
    rel="noopener"
    href="https://github.com/IAM-DEV88/RaidDominion/archive/refs/heads/main.zip"
    class="text-[1.2rem] px-4 py-1 uppercase text-normal font-bold hover:scale-125 bg-txtbg1 border-y-2 border-normal transition inline-block shadow-3xl mx-auto my-2 mt-4 hover:text-primary"
  >
    Descargar Addon
  </a>
</section>
