---

---

<section class="flex flex-col justify-center items-center drop-shadow-3xl">
  <img
    class="mt-[.5rem] animate-slide-up-fade drop-shadow-4xl"
    src="/logo.png"
    alt="Raid Dominion"
    width="230"
    height="230"
  />

  <span
    class="border-b-2 border-primary text-sm uppercase shadow-3xl text-primary bg-txtbg1 px-4 py-1 mb-1 dsm:text-[.7rem] md:font-medium animate-blurred-fade-in mt-2"
    >Comunidad World of Warcraft</span
  >
</section>
