---
  ---

<section class="flex flex-col justify-center items-center drop-shadow-3xl">
  <img
    class="mt-9 animate-slide-up-fade drop-shadow-4xl"
    src="/logo.png"
    alt="Raid Dominion"
    width="230"
    height="230"
  />
  <span
    class="border-b-2 border-primary uppercase shadow-3xl text-primary bg-txtbg1 px-4 py-1 text-[.7rem] animate-blurred-fade-in"
    >Comunidad World of Warcraft</span
  >
</section>
