---
import YoutubeIcon from "@/components/YoutubeIcon.astro";
---


<article
class="animate-blurred-fade-in mt-8 max-w-[340px] mx-auto flex flex-col uppercase"
>
<h1
  class="text-primary text-center text-[.8rem] flex-1 justify-center items-center border-t-2 border-primary shadow-3xl bg-txtbg1"
>
  Addon Wow 3.3.5a
</h1>
<a
  target="_blank"
  rel="noopener"
  href="https://www.youtube.com/@IAM-DEV88"
  class="h-[180px] flex justify-center items-center text-center px-10 border-normal shadow-3xl col-span-2 bg-txtbg1 dsm:text-[.7rem] text-normal"
>
  <h1>
    <YoutubeIcon />
     Tutorial en Youtube
  </h1>
</a>
<h1
  class="text-primary text-center text-[.8rem] flex-1 justify-center items-center border-b-2 border-primary shadow-3xl bg-txtbg1"
>
  Servidor en discord
</h1>
</article>