---
import "@fontsource-variable/jost";
import PortalEffect from "../components/PortalEffect.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Addon para World of Warcraft 3.3.5a para liderar bandas. Compacto y fácil de usar."
    />
    <meta
      name="keywords"
      content="comunidad, raid, dominion, tools, addon, world, warcraft, 3.3.5a, macro, ayuda, compacto, fácil"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Andrés Muñoz" />
    <meta name="language" content="es" />
    <meta name="revisit-after" content="7 days" />
    <link rel="canonical" href="https://raid-dominion.netlify.app/" />
    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="Comunidad Raid Dominion Tools"
    />
    <meta
      property="og:description"
      content="Addon para World of Warcraft 3.3.5a para liderar bandas. Compacto y fácil de usar."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://raid-dominion.netlify.app/" />
    <meta
      property="og:image"
      content="https://raid-dominion.netlify.app/logo.png"
    />
    <meta
      property="og:site_name"
      content="Comunidad Raid Dominion Tools"
    />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Comunidad Raid Dominion Tools"
    />
    <meta
      name="twitter:description"
      content="Addon para World of Warcraft 3.3.5a para liderar bandas. Compacto y fácil de usar."
    />
    <meta
      name="twitter:image"
      content="https://raid-dominion.netlify.app/logo.png"
    />
    <!-- <meta name="twitter:site" content="@tu_usuario" /> -->

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <PortalEffect />
    <div class="max-w-6xl px-8 mx-auto">
      <slot />
      <div
        style="position:absolute;"
        class="bg-gradient-to-b from-.2% from-[rgba(255,255,255,.01)] from-.1% to-[rgba(17,17,17,1)] w-100 h-40 sm:bottom-0  inset-x-0 dsm:bottom-[-58px] z-[-2]"
      >
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background:
      url("/bgweb.jpg") no-repeat,
      #111;
      overflow-x: hidden;
    background-size: 100% 100vh;
    background-position: center top;
  }
</style>
